<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Capital</th>
            <th scope="col">Poblacion</th>
            <th scope="col">Bandera</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of listaPaises | slice:0:5;" (click)="selectPais(pais)"  >
            <th scope="row">{{pais.name}}</th>
            <td>{{pais.capital}}</td>
            <td>{{pais.population}}</td>
            <td><img [src]="pais.flag" class="img-thumbnail" width="80px" height="50px"></td>
        </tr>
    </tbody>
</table>