<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Alta Producto</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <app-listado-paises (paisSeleccionado)="getPaisSelected($event)"></app-listado-paises>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Producto</h4>
                <form class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="codigo" class="form-label">Codigo</label>
                            <input type="number" class="form-control" id="codigo" name="codigo" required
                                [(ngModel)]="unProducto.codigo" />
                            <div class="invalid-feedback">
                                Valid codigo Producto is required.
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="precio" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="precio" name="precio" required
                                [(ngModel)]="unProducto.precio" />
                            <div class="invalid-feedback">
                                Valid precio Producto is required.
                            </div>
                        </div>
                        <div class="col-12">
                            <br>
                            <br>
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <div class="input-group has-validation">
                                <input type="number" class="form-control" id="descripcion" placeholder="Descripcion" name="sotck"
                                    required [(ngModel)]="unProducto.descripcion" />
                                <div class="invalid-feedback">
                                    Valid descripcion Producto is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <br>
                            <br>
                            <label for="stock" class="form-label">Stock</label>
                            <div class="input-group has-validation">
                                <input type="number" class="form-control" id="stock" placeholder="Stock" name="sotck"
                                    required [(ngModel)]="unProducto.stock" />
                                <div class="invalid-feedback">
                                    Valid stock Producto is required.
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <br><br>
                            <label for="pais" class="form-label">Pais De Origen
                                <span class="text-muted">(Optional)</span></label>
                            <div *ngIf="unProducto.paisDeOrigen != null">
                                <input type="text" class="form-control" id="pais" placeholder="" disabled
                                    name="paisorigen" [(ngModel)]="unProducto.paisDeOrigen.name" />
                            </div>

                            <div class="invalid-feedback">
                                Please enter a valid Pais De Origen.
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                            value="true" [(ngModel)]="checked"/>
                        <label class="form-check-label" for="exampleRadios1">
                            Es Comestible
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                            value="false" [(ngModel)]="checked"/>
                        <label class="form-check-label" for="exampleRadios2">
                            No Es Comestible
                        </label>
                    </div>

                    <hr class="my-4" />

                    <button class="w-100 btn btn-primary btn-lg" type="" (click)="altaProducto()">
                        Continue to checkout
                    </button>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2021 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>